{% extends 'web/base.html' %}

{% block content %}
<h1>Clientes</h1>
<table class="table">
    <thead>
        <tr>
            <th>N° Socio</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in customers %}
        <tr>
            <td>{{ cliente.id_socio }}</td>
            <td>{{ cliente.dni }}</td>
            <td>{{ cliente.first_name }}</td>
            <td>{{ cliente.last_name }}</td>
            <td>
            <a href="{% url 'customer_detail' cliente.id %}" class="btn btn-info">Ver</a>
            <a href="{% url 'customer_update' cliente.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'customer_delete' cliente.id %}" class="btn btn-danger">Eliminar</a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'home' %}" class="btn btn-secondary">Salir</a>
{% endblock %}
